name: EnX Build Release

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.5' 
          channel: 'stable'
          cache: true

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.2

      # Esse passo vai mostrar no log onde estão seus arquivos
      - name: Debug - List Files
        run: ls -R

      - name: Install dependencies
        run: flutter pub get

      # Procura o arquivo e aplica o chmod diretamente, sem variáveis frágeis
      - name: Make Gradlew Executable
        run: find . -name gradlew -exec chmod +x {} +

      # Se o seu pubspec.yaml não estiver na raiz, o Flutter precisa saber onde entrar
      - name: Build APK Release
        run: |
          PROJECT_PATH=$(find . -name pubspec.yaml -exec dirname {} \;)
          cd $PROJECT_PATH
          flutter build apk --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: EnX-Dwellers-Release
          path: "**/build/app/outputs/flutter-apk/app-release.apk"
